

.navindex .navbar{
  background-color: #009688!important;
  box-shadow: 1px 1px #00796B;
  margin-left: 0px;
}
.navindex .navbar-light .navbar-brand {
    color: #ffffff!important;
    text-align: center;
    margin-left: 80px;
    width: 100%;
}
