/** Valor no "max-width" só para ilustrar */
@media screen and (max-width: 96em) {
 #sidebar-wrapper {
 top:-5px;
 background-color: #009688!important;
 color: #ffffff!important;
 position: fixed;
 height: 100%;
 width: 70%!important;
 z-index: 1;
 box-shadow: 0 0 30px #00796B;

 }
 .sidebar-nav li a {
 background-color: #009688!important;
 color: #ffffff!important;
 display: block!important;
 text-decoration: none!important;
 width: 200%!important;
 }
 .sidebar-nav {
  font-size: 8px!important;
 }
}
@media screen and (max-width: 123em) {
 #sidebar-wrapper {
 top:-5px;
 background-color: #009688!important;
 color: #ffffff!important;
 position: fixed;
 height: 100%;
 width: 30%;
 z-index: 1;
 box-shadow: 0 0 30px #00796B;
 }
 .sidebar-nav li a {
 background-color: #009688!important;
 color: #ffffff!important;
 display: block!important;
 text-decoration: none!important;
 }
}
@media screen and (max-width: 456em) {
 #sidebar-wrapper {
   top:-5px;
 background-color: #009688!important;
 color: #ffffff!important;
 position: fixed;
 height: 100%;
 width: 25%;
 z-index: 1;
 box-shadow: 0 0 30px #00796B;
 }
 .sidebar-nav li a {
 background-color: #009688!important;
 color: #ffffff!important;
 display: block!important;
 text-decoration: none!important;
 }
}
@media screen and (max-width: 789em) {
 #sidebar-wrapper {
 top:-5px;
 background-color: #009688!important;
 color: #ffffff!important;
 position: fixed;
 height: 100%;
 width: 15%;
 z-index: 1;
 box-shadow: 1px 1px #00796B;
 }
 .sidebar-nav li a {
 background-color: #009688!important;
 color: #ffffff!important;
 display: block!important;
 text-decoration: none!important;
 }
}
.sidebar-nav {
position: fixed;
margin: 0;
padding: 0;
list-style: none;
width: 15%;
}
.sidebar-nav li {
font-size: 15px;
text-indent: 10px;
line-height: 50px;
width: 100%;
}

.sidebar-nav li a:hover {
background: #00796B!important;
color: #B2DFDB!important;
text-decoration: none;
}
.sidebar-nav li a:active, .sidebar-nav li a:focus {
text-decoration: none;
color: #00796B!important;
}

#ufpb-logo{
margin-top: 50px;
margin-bottom: 50px;
}
#sidebar-wrapper.sidebar-toggle {
transition: all 0.3s ease-out;
}

#main{
padding-left: 70px;

}
@media (min-width: 768px) {
#sidebar-wrapper.sidebar-toggle {
    transition: 0s;
}
}
main {
    background-color: tomato;
    width: 70%;
    margin-left: 30%;
    height: 100%;
    position: fixed;
}
