<div class="">
  <div id="sidebar-wrapper" class="sidebar-toggle">
      <ul class="sidebar-nav">
          <div class="row justify-content-center" id="ufpb-logo">
              <%= image_tag("logo.png", alt: "logo", class: "logo") %>
          </div>
          <li>
              <a href="#item1">Custo fixo</a>
          </li>
          <li>
              <a href="#item2">Folha de Pagamento</a>
          </li>
          <li>
              <a href="#item3">Vendas</a>
          </li>
          <li>
              <a href="#item3">Inadimplencia</a>
          </li>
          <li>
              <a href="#item3">Simulador</a>
          </li>
      </ul>
  </div>
